.Story-list {
  padding: 0 10px;
}

.Story-item {
  padding: 5px 0 10px;
  border-bottom: 1px solid #ccc
}
.Story-item:last-child {
  border-bottom: none;
}

.Story-title {
  margin: 5px 0;
}
.Story-title a {
  color: #333
}

.Story-source {
  position: relative;
  margin-bottom: 5px;
}
.Story-source a {
  vertical-align: middle;
}
.Story-source a::before {
  display: inline-block;
  margin-right: 0.5em;
  height: 0.8em;
  content: " ";
  border-left: 3px solid #333;
}

.Story-info {
  color: #666;
}
.Story-info a {
  font-weight: bold
}

.Story-comments {
  text-align: right;
}
